/* reset */
/*http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	/*
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	*/
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	/* line-height: 1; */
}

ol, ul {
/* list-style: none;*/
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* common */
body {
	font-family: "나눔고딕","NanumGothic","맑은 고딕","MalgunGothic","돋움";
}
.clear {
	clear:both;
}

img {
	vertical-align:middle;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}

/* header */
.header {
	/*
	margin-top: 12px;
	z-index: 1000;
	*/
}

/* footer */
.footer {
	/*
	background: white;
	border-top: 1px solid #cacaca;
	*/
}


/* bootstrap */
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
display: table;
line-height: 0;
content: "";
}
.clearfix:after {
clear: both;
}
p {
	margin: 0 0 10px;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	line-height: 20px;
	color: inherit;
	text-rendering: optimizelegibility;
}

h1,h2,h3 {
	line-height: 40px;
}
h1 {
	font-size: 38.5px;
}
h2 {
	font-size: 31.5px;
}
h3 {
	font-size: 24.5px;
}

/* Page common */
h2 {
	display: inline-block;
	font-size: 24px;
	letter-spacing: -1px;
	vertical-align: middle;
	text-shadow: 0px 1px 0 rgba(0,0,0,.2);
}
h2 b {
	color: #ff3300;
}